@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: dodgerblue;
}

.heading {
    text-align: center;
    font-size: 2rem;
    font-family: "Sixtyfour Convergence", serif;
    color: blue;
}

.main {
    width: 600px; 
    height: 600px; 
    border: 1px solid black; 
    margin: 2rem auto;
}

.main > div {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    margin: 0 auto;
}

#red {
    border: 5px solid red;
    background-color: orange;
    position: relative;
    top: -300px;
    animation: orange 4s ease-in-out forwards;
    animation-iteration-count: infinite;
}

@keyframes orange {
    100% {top: 0;}
}

#green {
    border: 5px solid green;
    background-color: yellow;
    animation: yellow 4s ease-in-out forwards;
    opacity: 0;
    animation-iteration-count: infinite;
    transform: rotateY(180deg);
}

@keyframes yellow {
    100% {opacity: 1;}
    25% {transform: rotate(180deg);}
}

#blue {
    border: 5px solid blue;
    background-color: pink;
    animation: pink 4s ease-in-out forwards;
    animation-iteration-count: infinite;
    transform: rotateX(180deg);
}

@keyframes pink {
    50% { transform: rotate(180deg);}
}

.footer {
    text-align: center;
}
